<!DOCTYPE html>
<html>
<head>
    <style>
        body {
            background-color: #E6E6FA;
        }
    </style></head>
<body>
<p><a href="/">HOME</a> | <a href="/all_members">Seznam</a> | <a href="/add_member">Vlož film</a></p>

<h1 style="background-color:black; color:red;"> FILMOTÉKA</h1>
<br><br><br><br><br>
<p style="color:black;">Vítejte na databazi filmů! </p>

<p style="color:black;">Můžeš zde zadat svůj oblíbený film.  </p>
<p style="color:black;">Použij horní menu. Dííky.  </p>



</body>
</html>